<ion-view cache-view="false" view-title="Accelo">
	<div class="row">
		<div class="col-50 col-offset-10">{{distance}} miles</div>
		<div class="col-50 col-offset-10">{{count}}</div>
	</div>
	
	<div class="padding">
		<div class="center large" ng-class="speed >= 70 ? 'red' : (speed >= 50 ? 'yellow' : 'green') "> 
			{{speed}}
		</div>
	</div>

	<div id="map" data-tap-disabled="true"></div>

	<a href="#" class="button button-positive" ng-click="watchLocation()"> Start </a>
	<a href="#" class="button button-dark" ng-click="stopWatching()"> Stop </a>
</ion-view>