<div id="trackPage">
	<div class="row">
		<div class="col-50 col-offset-10">{{tc.distance}} miles</div>
		<div class="col-50 col-offset-10">{{tc.count}}</div>
	</div>
	
	<div class="padding">
		<div class="center large" ng-class="tc.speed >= 70 ? 'red' : (tc.speed >= 50 ? 'yellow' : 'green')">
			{{tc.speed}}
		</div>
	</div>

	<a href="#" class="button button-positive" ng-click="tc.watchLocation()"> Start </a>
	<a href="#" class="button button-dark" ng-click="tc.stopWatching()"> Stop </a>
</div>