/* Empty. Add your own CSS if you like */
body { padding-top: 70px; }
.large { font-size: 100px; text-align: center; top:50%; left: 50%;}
.red { color: #FF0000}
.green { color: #00FF00}
.yellow { color: #FFFF00}
.right { margin-left: 200px;}
.center {
    margin: auto;
    width: 60%;
}
#map {
  width: 100%;
  height: 50%;
}

.scroll {
  height: 100%;
}